.highlight {
  border-radius: 3px;
  background: $background-color;

  .highlighter-rouge & {
    pre {
      background: $nimbus-bg;
      border-radius: 5px;
    }
    background: $background-color;
  }
  code div[class^="line-"] {
    white-space: pre-wrap;
  }
}
